* {
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100%;
  background: #FF4500;
}

.title {
  margin: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 60px;
}

.flex-container {
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pomodoro-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  z-index: 2;
}

.timer {
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}

.time {
  font-size: 200px;
}

.buttons {
  z-index: 2;
}

.filler {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
}

.btn {
  width: 300px;
  height: 100px;
  margin: 20px 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 50px;
  outline: 0;
  background: #4da6ff;
  font-size: 34px;
}

.btn:disabled,
.btn[disabled] {
  color: #666666;
  border: 1px solid #999999;
  background-color: #cccccc;
}

.btn#shortBreak {
  background: #0c0;
}

.btn#longBreak {
  background: #080;
}

.btn#stop {
  background: #f00;
}
/* The Modal (background) */

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  top: 0;
  left: 0;
  display: none;
  /* Hidden by default */
  overflow: auto;
  /* Enable scroll if needed */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Fallback color */
  background: rgba(255, 69, 0, 0.9);
  /* Full height */
  background-color: rgb(255, 69, 0);
  /* Black w/ opacity */
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Modal Content/Box */

.modal-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;

  p {
    margin: 0 0 30px;
    text-align: center;
    color: #fff;
    font-size: 64px;
  }
}
/* The Close Button */

#close {
  position: absolute;
  top: 5px;
  right: 20px;
  float: right;
  cursor: pointer;
  color: #aaa;
  font-size: 64px;
  font-weight: bold;
}

.close:focus,
.close:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.form-group {
  label {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}

.timer-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timer-inputs {
  input {
    width: 140px;
    height: 100px;
    padding-left: 15px;
    color: #fff;
    border: 1px solid #fff;
    outline: 0;
    background: none;
    font-size: 55px;
  }
}
@media screen and (max-width: 767px) {
  .pomodoro-app {
    padding-top: 0;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .container {
    margin: 10px auto;
  }
}
